.userBody {
font-size: 15px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
color: #333;
line-height: 1.28;
text-align: left;
direction: ltr;
}

.slimHeader #pageNav .topNavLink a {
line-height: 29px;
}
#pageNav a {
color: white;
font-weight: bold;
}

#blueBarHolder.slim {
height: 38px;
}
.ff3 .slim #blueBar {
-moz-box-shadow: -2px 0 2px rgba(0, 0, 0, .52);
}
#blueBar {
background-color: #3B5998;
min-width: 981px;
width: 100%;
z-index: 300;
}
#blueBar.fixed_elem {
left: 0;
top: 0;
}
.fixed_elem {
position: fixed !important;
}
.clearfix {
zoom: 1;
}
.fbx #pageHead {
margin: 0;
width: auto;
}
.clearfix::after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}


#pageHead {
margin: 0 auto;
width: 981px;
}
.sidebarMode #pageHead, .sidebarMode #globalContainer {
left: -90px;
position: relative;
}

#pageLogo {
float: left;
margin-left: -6px;
z-index: 5;
}
h1 {
font-size: 14px;
}
.slimHeader #jewelContainer {
padding-top: 5px;
}
#jewelContainer {
float: left;
position: relative;
z-index: 4;
}

#headNav {
background-color: #627AAD;
border: 1px solid #1D4088;
border-bottom: 0;
height: 30px;
margin-left: 180px;
}
.clearfix {
zoom: 1;
}
clearfix::after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}
.lfloat {
float: left;
}
.rfloat {
float: right;
}
.slimHeader #pageNav {
margin-right: 1px;
padding-top: 6px;
}

.slimHeader #pageNav .topNavLink {
height: 31px;
}
#pageNav li {
float: left;
}
.slimHeader #pageNav li.tinyman::after, .slimHeader #pageNav li.middleLink::after {
background: #526DA4;
content: " ";
display: inline-block;
float: right;
margin-top: 9px;
width: 1px;
height: 14px;
}

#pageNav li {
float: left;
}
#navAccount {
position: relative;
}
.rfloat {
float: right;
}

.slimHeader #pageNav .topNavLink a {
line-height: 29px;
}

.slimHeader #pageNav a {
color: #D8DFEA;
}

#pageNav a {
color: white;
font-weight: bold;
}

.slimHeader #pageNav .topNavLink a {
height: 31px;
line-height: 29px;
padding: 0;
vertical-align: top;
}
.slimHeader #pageNav .middleLink a {
padding: 0 8px;
}
.slimHeader #pageNav .headerTinymanPhoto {
border: solid 1px #294A8F;
border-top: solid 1px #123682;
-moz-border-radius: 2px;
height: 23px;
margin: 3px 5px 3px 3px;
width: 23px;
}
.uiProfilePhotoLarge {
width: 50px;
height: 50px;
}

.slimHeader #pageNav a {
color: #D8DFEA;
}
#pageNav a {
color: white;
font-weight: bold;
}
.slimHeader #pageNav .topNavLink .headerTinymanName {
display: inline-block;
max-width: 175px;
overflow: hidden;
padding-right: 8px;
text-overflow: ellipsis;
vertical-align: top;
white-space: nowrap;
}
.slimHeader #pageNav .topNavLink a {
line-height: 29px;
}
.slimHeader #pageNav a {
color: #D8DFEA;
}
#pageNav a {
color: white;
font-weight: bold;
}

.slimHeader #headNav {
background: none;
border: none;
margin-left: 176px;
}

.slimHeader #pageNav li.tinyman::after, .slimHeader #pageNav li.middleLink::after {
background: #526DA4;
content: " ";
display: inline-block;
float: right;
margin-top: 9px;
width: 1px;
height: 14px;
}


.vspib {
background: transparent;
bottom: 0;
cursor: default;
height: auto;
margin: 0;
min-height: 40px;
padding-left: 9px;
padding-right: 4px;
position: absolute;
right: -37px;
top: -2px;
width: 28px;
z-index: 3;
}

.vspii {
background-color: #F5F5F5;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);

border: 1px solid #DCDCDC;
-webkit-border-radius: 2px;
border-radius: 2px;
cursor: default;
height: 100%;
position: relative;
visibility: hidden;
-webkit-user-select: none;
}

.vspiic {
background: url(/images/nav_logo99.png);
background-position: -23px -260px;
height: 13px;
margin-left: 6px;
margin-top: -7px;
position: absolute;
top: 50%;
width: 15px;
}
.vspii {
cursor: default;
visibility: hidden;
}

.g {
margin-top: 0;
margin-bottom: 20px;
}
.vsc {
display: inline-block;
position: relative;
width: 100%;
}

.r {
font-size: medium;
}
.vspii {
cursor: default;
visibility: hidden;
}
.s {
max-width: 42em;
}
.s {
color: #222;
}
#nycp {
background-color: #FAFAFA;
border-left: 1px solid #EBEBEB;
bottom: 0;
left: 0;
margin-left: 33px;
min-width: 240px;
padding: 22px 16px 10px 31px;
position: absolute;
right: 0;
top: 0;
visibility: hidden;
}
#ires h3, #res h3, #tads h3, #tadsb h3, #mbEnd h3 {
font-size: medium;
}
#ires h3, #res h3, #tads h3, #tadsb h3, #mbEnd h3 {
font-size: medium;
}
.ti, .bl, #res h3 {
display: inline;
}
.tbpr {
margin-top: .4em;
margin-bottom: 1.2em;
}
#ires h3, #res h3, #tads h3, #tadsb h3, #mbEnd h3 {
font-size: medium;
}
#ires h3, #res h3, #tads h3, #tadsb h3, #mbEnd h3 {
font-size: medium;
}
.micon, .licon, .close_btn, .inline-close-btn {
border: 0;
}
.csb, .ss, .play_icon, .mini_play_icon, .micon, .licon, .close_btn, #tbp, .mbi, .inline-close-btn {
background: url(/images/nav_logo99.png) no-repeat;
overflow: hidden;
}
ol, ul, li {
border: 0;
margin: 0;
padding: 0;
}


.forgotpassword {
position: absolute;
top: 0px;
left: 0px;
z-index: 9998;
background-color: #E0E0E0;
display: block;
opacity: 0.9;
width: 1343px;
height: 2150px;
}  